{%- assign title = "Ethereum Dashboards" -%}
{%- if include.title -%}
  {%- assign title = include.title -%}
{%- endif -%}

{%- assign tagline = "A collection of useful dashboards for the Ethereum ecosystem" -%}
{%- if include.tagline -%}
  {%- assign tagline = include.tagline -%}
{%- endif -%}


<!-- Header -->
<header class="bg-blue-dark py-3 my-2">
  <div class="container text-center">
    {%- include partials/announcementBar.html -%}
    <h1 class="display-5 fw-bold text-capitalize mt-4">{{title}}</h1>
    <div class="col-lg-7 mx-auto mb-4">
      <p class="lead fw-light">{{tagline}}</p>
    </div>
  </div>
</header>

